<app-authheader *ngIf="isUserMode()" class="header-show-search"></app-authheader>
<app-header *ngIf="!isUserMode()" id="home" class="header-show-search"></app-header>
<main *ngIf="isLanguageLoaded" class="page-padding">
  <div class="container">
    <div class="red-page-title d-none d-md-block">{{LanguageText.txt_profile_myprofile}}</div>
    <div class="red-page-title text-center mobile d-md-none"><a class="titleback-btn"><i
          class="fas fa-arrow-left"></i></a> {{LanguageText.txt_profile_myaddress}}</div>
    <app-profileshort></app-profileshort>
    <div class="row">
      <div class="col-md-5 col-lg-4 col-xl-3 d-md-block">
        <app-profilenav></app-profilenav>
      </div>
      <div class="col-md-7 col-lg-8 col-xl-9">
        <div class="addresses checkout-process">


          <div class="tab-card" *ngFor="let address of deliveryAddressList; let j = index;"
            >
            <button id="{{address.loc_id}}" [hidden]="true" data-toggle="modal" data-target="#pinlocationaddress2">{{LanguageText.txt_checkout_openmodal}}</button>
            <div class="address-box" style="cursor: pointer;">
              <div class="row">
                <div class="col-4 col-md-4 col-sm-4">
                  <span class="txt_location"><i class="fa fa-home" aria-hidden="true"></i> {{address.loc_address_name}}</span>
                  <!-- IF THE ADDRESS IS WORK -->
                  <!-- <span class="txt_location"><i class="fa fa-briefcase" aria-hidden="true"></i> {{address.loc_address_name}}</span> -->

                  <!-- IF THE ADDRESS IS OTHERS -->
                  <!-- <span class="txt_location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{address.loc_address_name}}</span> -->
                </div>
                <div class="col-7 col-md-7 col-sm-7">


                  <p class="txt_locationdetails">{{address.loc_location}}</p>
                </div>
                <div class="btn-boxpin">
                  <a style="cursor: pointer;" target="_self" (click)="openAddressModalAddress(address)"><i class="far fa-edit"></i></a>
                  <a style="cursor: pointer; font-size: 16px;" (click)="deleteconfirm(address)" target="_self" data-toggle="modal" data-target="#deleteconfirmation"><i class="fatrasho fa fa-trash-o"></i></a>
                </div>

              </div>
            </div>
          </div>
          <button id="newaddress" [hidden]="true" data-toggle="modal" data-target="#pinlocationaddress2">{{LanguageText.txt_checkout_openmodal}}</button>
          <input type="button" (click)="nextStepAddress1()" name="next" class="btn next red-btn action-button" value="{{LanguageText.txt_merchant_addnewaddress}}" />
          <!-- <div class="tab-card">
         <div class="tab-card-header">
          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="One" aria-selected="true">{{LanguageText.txt_profile_home}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="Two" aria-selected="false">{{LanguageText.txt_profile_office}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="Three" aria-selected="false">{{LanguageText.txt_profile_other}}</a>
            </li>
          </ul>
        </div>

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="one-tab">
          <div class="address-box">
           <div class="row">
           <div class="col-sm-4 col-md-4">
           <div class="pin"> <div class="icon"><img src="../../../assets/images/mapicon.png" class="w-100" /></div>  <div class="text">{{LanguageText.txt_profile_pinlocation}}</div></div>
           </div>
           <div class="col-sm-8 col-md-8">
           <div class="address">
           <p>Akshya Nagar 1st Block 1st Cross, Rammurthy nagar, Bangalore-560016</p>
           <div class="btn-box"><a href="#"><i class="far fa-edit"></i></a><a href="#"><i class="far fa-trash-alt"></i></a></div>
           </div>
           </div>
           </div>
           </div>
           <div class="row">
<div class="col-md-6"><div class="form-group">
<select class="form-control" id="buildingtype">
      <option selected="selected">{{LanguageText.txt_profile_selectbuildingtype}}</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div></div>
<div class="col-md-6"><div class="form-group">
    <input type="text" class="form-control" placeholder="My Village/Building" id="buildingname">
  </div></div>
<div class="col-md-12"><div class="form-group">
    <input type="text" class="form-control" placeholder="Address" id="Address">
  </div></div>
  <div class="col-md-6"><div class="form-group">
    <input type="text" class="form-control" placeholder="Soi" id="soi">
  </div></div>
   <div class="col-md-6"><div class="form-group">
    <input type="text" class="form-control" placeholder="Moo" id="moo">
  </div></div>
  <div class="col-md-6"><div class="form-group">
<select class="form-control" id="buildingtype">
      <option selected="selected">{{LanguageText.txt_profile_province}}</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div></div>
  <div class="col-md-6"><div class="form-group">
<select class="form-control" id="buildingtype">
      <option selected="selected">{{LanguageText.txt_profile_district}}</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div></div>
  <div class="col-md-6"><div class="form-group">
<select class="form-control" id="buildingtype">
      <option selected="selected">{{LanguageText.txt_profile_subdistrict}}</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div></div>
  <div class="col-md-6"><div class="form-group">
<select class="form-control" id="buildingtype">
      <option selected="selected">{{LanguageText.txt_profile_postalcode}}</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div></div>
   <div class="col-md-6"><div class="form-group">
    <input type="text" class="form-control" placeholder="Floor" id="floor">
  </div></div>
   <div class="col-md-6"><div class="form-group">
    <input type="text" class="form-control" placeholder="Room/House no." id="houseno">
  </div></div>
  <div class="col-md-12"><div class="form-group">
    <input type="text" class="form-control" placeholder="Note to rider" id="note">
  </div></div>
</div>
           <div class="btn-box text-right"><a class="red-btn">{{LanguageText.txt_profile_savehomeaddress}}</a></div>
          </div>
          <div class="tab-pane fade p-3" id="two" role="tabpanel" aria-labelledby="two-tab">
            <h5 class="card-title">Tab Card Two</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
          <div class="tab-pane fade p-3" id="three" role="tabpanel" aria-labelledby="three-tab">
            <h5 class="card-title">Tab Card Three</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>

        </div>
      </div>-->



        </div>
      </div>
    </div>
  </div>


  <!-- Modal Pin Location-->
  <div class="modal fade" id="pinlocationaddress2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body modalbodypinlocation">
          <button type="button" class="close btnclosemodal2" id="closeModalLocation" (click)="closeLocationModal()"
            data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="title_modalcheckout2 text-center">{{LanguageText.txt_checkout_choosedelivery}}</h5>



          <!-- START -->
          <form id="msform">
            <!-- progressbar -->
            <ul id="progressbar">

              <li class="addrli {{active2}}" id="ic_pin_location"><strong>{{LanguageText.txt_checkout_pinlocation}}</strong></li>
              <li class="addrli {{active3}}" id="ic_edit_address"><strong>{{LanguageText.txt_checkout_editaddress}}</strong></li>
            </ul> <!-- fieldsets -->

            <fieldset *ngIf="showAddressForm">
              <div class="form-card">
                <div class="row mt-2">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="{{LanguageText.txt_map_addressnameplaceholder}}" [(ngModel)]="addressname"
                        [ngModelOptions]="{standalone: true}" id="addressname">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group selectarrow">
                      <select class="form-control selectbox" id="buildingtype" [(ngModel)]="buildingtype"
                        [ngModelOptions]="{standalone: true}">
                        <option value="0" selected>{{LanguageText.txt_checkout_selectbuildingtype}}</option>
                        <option value="Condominium">Condominium</option>
                        <option value="Townhouse">Townhouse</option>
                        <option value="Detached house">Detached house</option>
                        <option value="Office building">Office building</option>
                        <option value="Residential">Residential</option>
                        <option value="Institutional">Institutional</option>
                        <option value="Business">Business</option>


                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="My Village/Building"
                        [(ngModel)]="buildingname" [ngModelOptions]="{standalone: true}" id="buildingname">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Room/House no." [(ngModel)]="houseno"
                        [ngModelOptions]="{standalone: true}" id="houseno">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Address" [(ngModel)]="Address"
                        [ngModelOptions]="{standalone: true}" id="Address">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Soi" [(ngModel)]="soi"
                        [ngModelOptions]="{standalone: true}" id="soi">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Moo" [(ngModel)]="moo"
                        [ngModelOptions]="{standalone: true}" id="moo">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group selectarrow">
                      <select class="form-control selectbox" [(ngModel)]="province" id="province"
                        [ngModelOptions]="{standalone: true}" (change)="provinceChage(province)">
                        <option value="0" selected>Province</option>
                        <option value="{{getMetaName(provinceitem)}}"
                          *ngFor="let provinceitem of provinceList; let i = index;">{{getMetaName(provinceitem)}}
                        </option>

                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group selectarrow">
                      <select class="form-control selectbox" [(ngModel)]="district" id="district"
                        [ngModelOptions]="{standalone: true}" (change)="districtChage(district)">
                        <option value="0" selected>District</option>
                        <option value="{{getMetaName(districtitem)}}"
                          *ngFor="let districtitem of districtList; let i = index;">{{getMetaName(districtitem)}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group selectarrow">
                      <select class="form-control selectbox" [(ngModel)]="subdistrict"
                        [ngModelOptions]="{standalone: true}" id="subdistrict">
                        <option value="0" selected>Sub District</option>
                        <option value="{{getMetaName(subdistrictitem)}}"
                          *ngFor="let subdistrictitem of subdistrictList; let i = index;">
                          {{getMetaName(subdistrictitem)}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Floor" [(ngModel)]="floor"
                        [ngModelOptions]="{standalone: true}" id="floor">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group nomargbot">
                      <input type="text" class="form-control" placeholder="Note to rider" [(ngModel)]="note"
                        [ngModelOptions]="{standalone: true}" id="note">
                    </div>
                  </div>
                </div>
              </div>
              <input type="button" (click)="prevStepAddress()" name="previous"
                class="btn previous black-btn action-button-previous mt-3" value="Previous" />
              <input type="button" name="previous" (click)="saveMultiLocation()" class="btn red-btn mt-3"
                value="Submit" />
            </fieldset>
            <fieldset>
              <div class="form-card">
                <form>
                  <div class="modal_search_sec">
                    <input type="text" class="form-control search_location" (keydown.enter)="$event.preventDefault()"
                      placeholder="Enter your exact location" autocorrect="off" autocapitalize="off" id="searchlocation" spellcheck="off"
                      type="text" #search>
                    <i class="fa fa-map-pin location_icon" aria-hidden="true"></i>
                  </div>

                  <div class="pinlocation_map">
                    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [mapTypeControl]='true'
                      (centerChange)="centerChange($event)" (boundsChange)="boundsChange($event)"
                      (mapReady)="mapReady($event)">
                      <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                        (dragEnd)="markerDragEnd($event)"></agm-marker>
                    </agm-map>


                  </div>

                </form>
              </div>
              <h3 class="text-left" style="cursor: pointer;color: brown;" (click)="setCurrentLocation()"><i
                  class="fa fa-location-arrow" aria-hidden="true"></i> {{LanguageText.txt_checkout_setcurrentlocation}} </h3>

              <input type="button" (click)="nextStepAddress()" name="next" class="btn next red-btn action-button"
                value="Next" />

            </fieldset>


          </form>
          <!-- END -->
        </div>
      </div>
    </div>
  </div>


  <!-- MODALDELETE CONFIRMATION -->
  <div class="modal fade" id="deleteconfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body p-5">
          <button type="button" class="close btnclosemodal2" id="closeModalLocation" (click)="closeLocationModal()"
            data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3 class="confirmationdelete_ttl">{{LanguageText.txt_profile_q_delete_address}}?</h3>
          <div class="text-center">
            <button class="btn red-btn mr-3" (click)="deleteMultiLocation(selectedaddresstodelete)" data-dismiss="modal">{{LanguageText.txt_product_yes}}</button>
            <button class="btn red-btn nobtn" data-dismiss="modal">{{LanguageText.txt_product_no}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
<app-footer *ngIf="isLanguageLoaded"></app-footer>
