<app-authheader *ngIf="isUserMode()&&!smurf" class="header-show-search"></app-authheader>
<app-header *ngIf="!isUserMode()&&!smurf" id="home" class="header-show-search"></app-header>
<main *ngIf="isLanguageLoaded" class="trackorder">

  <div class="process">
    <div class="container">
      <div class="horizontal-process text-center">
        <div class="stagevideos stagevideo1">
          <img src="https://gexpress.ph/imahe/trackordergif/waiting.gif" *ngIf="isActiveStatus(1)=='active'&&isActiveStatus(2)!='active'">
          <img src="https://gexpress.ph/imahe/trackordergif/preparing.gif" *ngIf="isActiveStatus(2)=='active'&&isActiveStatus(5)!='active'">
          <img src="https://gexpress.ph/imahe/trackordergif/dispatch.gif" *ngIf="isActiveStatus(5)=='active'&&isActiveStatus(6)!='active'">
          <img src="https://gexpress.ph/imahe/trackordergif/ontheway.gif" *ngIf="isActiveStatus(6)=='active'&&isActiveStatus(7)!='active'">

          <div class="mapagm" *ngIf="isActiveStatus(7)=='active'&&isActiveStatus(8)!='active'">
            <agm-map #AgmMap id="trackmap" [latitude]="focuslatitude" [longitude]="focuslongitude" [zoom]="zoom"
            [mapTypeControl]='true'>
            <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="false" [iconUrl]="usermarker">
            </agm-marker>
            <agm-marker [agmFitBounds]="true" [latitude]="restolatitude" [longitude]="restolongitude" [markerDraggable]="false"
              [iconUrl]="merchantmarker"></agm-marker>
            <agm-marker [agmFitBounds]="true" [latitude]="riderlatitude" [longitude]="riderlongitude" [markerDraggable]="false"
              [iconUrl]="ridermarker"></agm-marker>

            <agm-polyline *ngFor="let point of points;let i = index;" [strokeColor]="point.speed < 50 ? '#2196f3': 'red'">
              <agm-polyline-point [latitude]="point.latitude" [longitude]="point.longitude">
              </agm-polyline-point>
              <ng-container *ngIf="points[i+1]">
                <agm-polyline-point [latitude]="points[i+1].latitude" [longitude]="points[i+1].longitude">
                </agm-polyline-point>
              </ng-container>
            </agm-polyline>
            </agm-map>
          </div>
          <img src="https://gexpress.ph/imahe/trackordergif/delivered.gif" *ngIf="isActiveStatus(8)=='active'">
        </div>
      </div>
    </div>
  </div>

  <div class="container time" *ngIf="acceptedTime!=''">
    <div class="cancelorder_timer" >
      <span class="timertrack">{{LanguageText.txt_trackorder_estimated_arrival_time}} ({{estimatedmin}})</span>
      <div class="value">{{estimated_time}}</div>
      <hr>
      <div class="to_status" *ngIf="isActiveStatus(1)=='active'&&isActiveStatus(2)!='active'">
        <h2>Processing</h2>
        <p>Waiting for a restaurant to approve order</p>
      </div>
      <div class="to_status" *ngIf="isActiveStatus(2)=='active'&&isActiveStatus(5)!='active'">
        <h2>Food Preparing</h2>
        <p>Restaurant has accepted your order and is preparing your food</p>
      </div>
      <div class="to_status" *ngIf="isActiveStatus(5)=='active'&&isActiveStatus(6)!='active'">
        <h2>Food Preparing</h2>
        <p>The rider arrived to pickup your food.</p>
      </div>
      <div class="to_status" *ngIf="isActiveStatus(6)=='active'&&isActiveStatus(7)!='active'">
        <h2>Food Dispatched</h2>
        <p>Your food is ready and is out for delivery</p>
      </div>
      <div class="to_status" *ngIf="isActiveStatus(7)=='active'&&isActiveStatus(8)!='active'">
        <h2>Food Dispatched</h2>
        <p>Food is nearby reaching you soon</p>
      </div>
      <div class="to_status" *ngIf="isActiveStatus(8)=='active'">
        <h2>Food Delivered</h2>
        <p>Your food is here! Enjoy</p>
      </div>
    </div>
    <!-- <div class="value">{{estimatedmin}} </div> -->
  </div>



  <div class="container tbltrackset">

    <div class="job-info-box orders">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
        <div class="name">{{LanguageText.txt_trackorder_here_receipt}}</div>
        </div>
        <div class="col-12 col-sm-12 col-md-12">
          <div class="location">{{storename}}</div>
          <div class="location">{{orderid}}</div>
          <div class="location">{{customerAddress1}}</div>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table tbltrack">

        <tr *ngFor="let product of productList;let i = index">
          <td class="productname">{{product.ord_quantity}}x {{product.item_name}}
            <div class="trackextraname" *ngFor="let productitem of product.product_option_items;let j = index">
              <div class="extrainv d-flex justify-content-between">
                <span class="inv_product_name mt-0" style="text-decoration:underline">{{productitem.option_name}}</span>

              </div>
              <div class="extrainv d-flex justify-content-between"
                *ngFor="let items of productitem.option_items;let j = index">
                <span class="inv_product_name mt-0">➤{{items.name}}</span>

              </div>
            </div>
          </td>
          <td class="productprice">{{product.ord_currency}}{{product.ord_unit_price}}
            <div class="trackextraprice" *ngFor="let productitem of product.product_option_items;let j = index" >
              <span class="inv_product_price" >&nbsp;</span><br>
              <span class="inv_product_price" *ngFor="let items of productitem.option_items;let j = index">{{product.ord_currency}}{{items.amount}}<br></span>


            </div>
          </td>
        </tr>

        <!-- TOTALS -->
        <tr class="totalstrack">
          <td class="totalttl">{{LanguageText.txt_trackorder_subtotal}}</td>
          <td class="totalamounts">{{currency}} {{grand_sub_total}}</td>
        </tr>
        <tr class="totalstrack">
          <td class="totalttl first">{{LanguageText.txt_trackorder_discountoffer}}</td>
          <td class="totalamounts first">- {{currency}} {{coupon_used}}</td>
        </tr>
        <tr class="totalstrack">
          <td class="totalttl">{{LanguageText.txt_trackorder_deliveryfee}}</td>
          <td class="totalamounts">{{currency}} {{delivery_fee}}</td>
        </tr>
        <tr class="totalstrack">
          <td class="totalttl">{{LanguageText.txt_trackorder_grandtotal}}</td>
          <td class="totalamounts">{{currency}} {{grand_total}}</td>
        </tr>

        <!-- PAYMENT -->
        <tr class="totalstrack">
          <td class="totalttl">{{LanguageText.txt_track_payment_type}}</td>
          <td class="totalamounts">{{paytype}}</td>
        </tr>
        <!-- <tr>
          <td class="text-left to_paymentfont">Payment ID</td>
          <td class="text-right to_paymentfont">Cash</td>
        </tr> -->
      </table>
    </div>

  </div>



  <div class="modal fade" id="cancelorder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content" style="border: 3px solid #ffcc00;">
      <div class="modal-body p-4">
        <div class="rev-textttl pt-0">
          <p class="text-center">{{LanguageText.txt_trackorder_reason_cancel}}?</p>
          <div class="round-btn">
            <div class="selection-tick2 custom-radio">
              <input type="radio" name="pricerangeval" value="">
              <span class="checkmark"></span>
            </div>
            <span class="lable">{{LanguageText.txt_trackorder_duplicate_order}}</span>
          </div>
          <div class="round-btn">
            <div class="selection-tick2 custom-radio">
              <input type="radio" name="pricerangeval" value="">
              <span class="checkmark"></span>
            </div>
            <span class="lable">{{LanguageText.txt_trackorder_order_diff_food}}</span>
          </div>
          <div class="round-btn">
            <div class="selection-tick2 custom-radio">
              <input type="radio" name="pricerangeval" value="">
              <span class="checkmark"></span>
            </div>
            <span class="lable">{{LanguageText.txt_trackorder_order_later}}</span>
          </div>
          <div class="round-btn">
            <div class="selection-tick2 custom-radio">
              <input type="radio" name="pricerangeval" value="">
              <span class="checkmark"></span>
            </div>
            <span class="lable">{{LanguageText.txt_trackorder_wrong_order}}</span>
          </div>
          <div class="round-btn">
            <div class="selection-tick2 custom-radio">
              <input type="radio" name="pricerangeval" value="">
              <span class="checkmark"></span>
            </div>
            <span class="lable">{{LanguageText.txt_trackorder_delivery_taking_time}}</span>
          </div>
          <div class="round-btn">
            <div class="selection-tick2 custom-radio">
              <input type="radio" name="pricerangeval" value="">
              <span class="checkmark"></span>
            </div>
            <span class="lable">{{LanguageText.txt_trackorder_other_reason}}</span>
          </div>

          <textarea row="5" class="form-control mt-3" rows="2" cols="50"></textarea>
          <div class="text-center w-100">
            <button class="btn red-btn mt-3" data-toggle="modal" data-target="#reviewprod" data-dismiss="modal">{{LanguageText.txt_trackorder_submit}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
<app-footer *ngIf="isLanguageLoaded&&!smurf"></app-footer>
