<app-header class="header-show-search"></app-header>
<main *ngIf="isLanguageLoaded" class="privacypolicy">
<section class="innerpagetitle d-table">
<div class="container d-table-cell align-middle">
<div class="title">{{LanguageText.txt_privpolicy_privacypolicy}}</div>
</div>
</section>
<section class="body">
<div class="container">
<div class="row">
<div class="col-md-3">
<div class="name">{{LanguageText.txt_privpolicy_introduction}}</div>
</div>
<div class="col-md-9">
<div class="right-box">
<p>{{LanguageText.txt_privpolicy_intro1}}</p>
</div>
</div>
</div>
<div class="row">
<div class="col-md-3">
<div class="name">{{LanguageText.txt_privpolicy_whatinformationcollect}}</div>
</div>
<div class="col-md-9">
<div class="right-box">
<p>{{LanguageText.txt_privpolicy_wic1}}</p>
</div>
</div>
</div>
<div class="row">
<div class="col-md-3">
<div class="name">{{LanguageText.txt_privpolicy_cookies}}</div>
</div>
<div class="col-md-9">
<div class="right-box">
<p>{{LanguageText.txt_privpolicy_cookies1}}</p>
</div>
</div>
</div>
<div class="row">
<div class="col-md-3">
<div class="name">{{LanguageText.txt_privpolicy_storageandsecurity}}</div>
</div>
<div class="col-md-9">
<div class="right-box">
<p>{{LanguageText.txt_privpolicy_sas1}}</p>
</div>
</div>
</div>
<div class="row">
<div class="col-md-3">
<div class="name">{{LanguageText.txt_privpolicy_howuseinfo}} </div>
</div>
<div class="col-md-9">
<div class="right-box">
<p>{{LanguageText.txt_privpolicy_howuseinfo1}}</p>
<p>{{LanguageText.txt_privpolicy_howuseinfo2}}</p>
<p>{{LanguageText.txt_privpolicy_howuseinfo3}}</p>
</div>
</div>
</div>
<div class="row">
<div class="col-md-3">
<div class="name">{{LanguageText.txt_privpolicy_accesstoinformation}}</div>
</div>
<div class="col-md-9">
<div class="right-box">
<p>{{LanguageText.txt_privpolicy_accesstoinformation1}}</p>
</div>
</div>
</div>
<div class="row">
<div class="col-md-3">
<div class="name">{{LanguageText.txt_privpolicy_changesprivpolicy}}</div>
</div>
<div class="col-md-9">
<div class="right-box">
<p>{{LanguageText.txt_privpolicy_changesprivpolicy1}}</p>
</div>
</div>
</div>
<div class="row">
<div class="col-md-3">
<div class="name">{{LanguageText.txt_privpolicy_otherwebsites}}</div>
</div>
<div class="col-md-9">
<div class="right-box">
<p>{{LanguageText.txt_privpolicy_otherwebsites1}}</p>
</div>
</div>
</div>
</div>
</section>
</main>
<app-footer *ngIf="isLanguageLoaded"></app-footer>
