<app-header></app-header>
<main *ngIf="isLanguageLoaded" class="authpages forgotpassword">
<div class="container">
<div class="form-box">
<div class="title">{{LanguageText.txt_forgotpw_forgotpw}}</div>
<p>{{LanguageText.txt_forgotpw_forgotpwdesc}}.</p>
 <form action="#">
  <div class="form-group icon-left">
    <div class="icon"><img src="../../../assets/images/icon-mail-grey.png"  class="w-100"/></div>
    <input type="email" class="form-control" placeholder="Email" id="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
  </div>
  <button type="submit" class="btn btn-primary" (click)="forgotPassword()">{{LanguageText.txt_forgotpw_submit}}</button>
</form>
</div>
</div>
</main>
<app-footer *ngIf="isLanguageLoaded"></app-footer>

