<app-authheader *ngIf="isUserMode()" class="header-show-search"></app-authheader>
<app-header *ngIf="!isUserMode()" id="home" class="header-show-search"></app-header>
<main *ngIf="isLanguageLoaded" class="page-padding">
<div class="container">
<div class="red-page-title">{{LanguageText.txt_profile_myprofile}}</div>
<app-profileshort></app-profileshort>
<div class="row">
<div class="col-md-5 col-lg-4 col-xl-3">
<app-profilenav></app-profilenav>
</div>
<div class="col-md-7 col-lg-8 col-xl-9">
<div class="changepassword">
<div class="">
<form class="row no-gutters">
  <div class="col-md-6 col-xl-6 col-xs-12 respo_paddright15">
    <div class="form-group icon-left">
      <div class="icon"><img src="../../../assets/images/icon-key-grey.png"  class="w-100"/></div>
      <input type="password" class="form-control" [(ngModel)]="currpass" [ngModelOptions]="{standalone: true}" placeholder="Current Password" id="name">
      <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
    </div>
  </div>
  <div class="col-md-6 col-xl-6 col-xs-12 respo_paddleft15">
    <div class="form-group icon-left">
      <div class="icon"><img src="../../../assets/images/icon-key-grey.png"  class="w-100"/></div>
      <input type="password" class="form-control" [(ngModel)]="newpass" [ngModelOptions]="{standalone: true}" placeholder="New Password" id="name">
      <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
    </div>
    <div class="form-group icon-left">
      <div class="icon flip"><img src="../../../assets/images/icon-replyall-icon.png"  class="w-100"/></div>
      <input type="password" class="form-control" [(ngModel)]="confirmnewpass" [ngModelOptions]="{standalone: true}" placeholder="Repeat New Password" id="name">
      <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
    </div>
    <div class="form-group">
    <button type="submit" (click)="changepassword()" class="btn btn-primary w-100">{{LanguageText.txt_profile_changepassword}}</button>
    </div>
  </div>


</form>
</div>
</div>
</div>
</div>
</div>
</main>
<app-footer *ngIf="isLanguageLoaded"></app-footer>
