<app-header></app-header>
<main *ngIf="isLanguageLoaded&&!ispageexpired" class="authpages forgotpassword">
<div class="container">
<div class="form-box">
<div class="title">{{LanguageText.txt_setpw_setpwtitle}}</div>
 <form action="#">
  <div class="form-group icon-left">
    <div class="icon"><img src="../../../assets/images/icon-key-grey.png"  class="w-100"/></div>
    <input type="password" class="form-control" placeholder="Password" [(ngModel)]="Password" [ngModelOptions]="{standalone: true}" (focusout)="textchange()" (change)="textchange()">
    <div class="errortriangle" *ngIf="passworderror" title="Input text here"><img src="../../../assets/images/error.png" class="w-100"/> </div>
    <div class="text-danger font12" *ngIf="passworderror">{{LanguageText.txt_setpw_passwordmissing}}</div>
    <div class="text-danger font12" *ngIf="passworderrorlimit">{{LanguageText.txt_setpassword_max_char}}</div>
  </div>
  <div class="form-group icon-left">
    <div class="icon"><img src="../../../assets/images/icon-key-grey.png"  class="w-100"/></div>
    <input type="password" class="form-control" placeholder="Confirm Password" [(ngModel)]="cPassword" [ngModelOptions]="{standalone: true}" (focusout)="checkmatch()" (change)="checkmatch()" >
    <div class="errortriangle" *ngIf="passwordmatcherror" title="Input text here"><img src="../../../assets/images/error.png" class="w-100"/> </div>
    <div class="text-danger font12" *ngIf="passwordmatcherror">{{LanguageText.txt_setpw_doesntmatch}}</div>
  </div>
  <button type="submit" (click)="changepassword()" class="btn btn-primary">{{LanguageText.txt_forgotpw_submit}}</button>
</form>
</div>
</div>
</main>
<main class="authpages forgotpassword" *ngIf="ispageexpired">
  <div class="container">
    <section class="paymentstatus">
      <div class="thankyousection">
        <div class="row rowidth100">
            <div class="tyregistersec col-md-6 col-sm-6 col-xs-12" align="center">
              <div class="sec_img_payment">
                <div class="bgtxtty">
                  <p class="title_payment">{{LanguageText.txt_setpw_page_expired}}</p>
                  <p class="desc_payment mb-4">{{LanguageText.txt_setpassword_req_new_pw}}</p>

                  <div class="text-center"><button type="submit" (click)="gotohome()" class="btn red-btn" >{{LanguageText.txt_register_ok}}</button></div>
                </div>
              </div>

            </div>
          </div>
      </div>
    </section>
  </div>
</main>
<app-footer *ngIf="isLanguageLoaded"></app-footer>

