<app-header class="riderheader"></app-header>
<main *ngIf="isLanguageLoaded" class="press">
    <div class="top-news">
        <owl-carousel [options]="topnews"  [carouselClasses]="['owl-theme careeraboutus', 'sliding']">
            <div class="item">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="box bx1">
                            <div class="info">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="date">Nov 22, 2020</div>
                                        <div class="title">Our favorite from the Jenny Chef of Calamba</div>
                                        <p class="parag">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                            sed do eiusmod tempor incididunt ut.</p>
                                    </div>
                                </div>
                                <a class="angleleft" href=""><i class="fas fa-angle-left"></i></a>
                                <a class="angleright" href=""><i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="box bx2">
                            <div class="info">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="date">Nov 22, 2020</div>
                                        <div class="title">Our favorite from the Jenny Chef of Calamba</div>
                                        <p class="parag">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                            sed do eiusmod tempor incididunt ut.</p>
                                    </div>
                                </div>
                                <a class="angleleft" href=""><i class="fas fa-angle-left"></i></a>
                                <a class="angleright" href=""><i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="box bx3">
                            <div class="info">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="date">Nov 22, 2020</div>
                                        <div class="title">Our favorite from the Jenny Chef of Calamba</div>
                                        <p class="parag">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                            sed do eiusmod tempor incididunt ut.</p>
                                    </div>
                                </div>
                                <a class="angleleft" href=""><i class="fas fa-angle-left"></i></a>
                                <a class="angleright" href=""><i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </owl-carousel>
    </div>
<div class="container">



<div class="latest latest-news">
<div class="row">
<div class="col-md-7 col-lg-9">
    <div class="maintitle">{{LanguageText.txt_press_latestnews}}</div>
<div class="row">
<div class="col-lg-4">
<div class="box">
<div class="image"><img src="../../../assets/images/presslatestnews1.jpg" class="w-100"/></div>
<div class="info">
<div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a Driver</div>
<div class="date">Mar 04, 2015</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
<a href=""><i class="fas fa-angle-right"></i></a>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="box">
<div class="image"><img src="../../../assets/images/presslatestnews2.jpg" class="w-100"/></div>
<div class="info">
<div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a Driver</div>
<div class="date">Mar 04, 2015</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
<a href=""><i class="fas fa-angle-right"></i></a>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="box">
<div class="image"><img src="../../../assets/images/presslatestnews3.jpg" class="w-100"/></div>
<div class="info">
<div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a Driver</div>
<div class="date">Mar 04, 2015</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
<a href=""><i class="fas fa-angle-right"></i></a>
</div>
</div>
</div>
<div class="col-lg-4">
    <div class="box">
    <div class="image"><img src="../../../assets/images/presslatestnews4.jpg" class="w-100"/></div>
    <div class="info">
    <div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a Driver</div>
    <div class="date">Mar 04, 2015</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
    <a href=""><i class="fas fa-angle-right"></i></a>
    </div>
    </div>
    </div>
    <div class="col-lg-4">
    <div class="box">
    <div class="image"><img src="../../../assets/images/presslatestnews2.jpg" class="w-100"/></div>
    <div class="info">
    <div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a Driver</div>
    <div class="date">Mar 04, 2015</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
    <a href=""><i class="fas fa-angle-right"></i></a>
    </div>
    </div>
    </div>
    <div class="col-lg-4">
    <div class="box">
    <div class="image"><img src="../../../assets/images/presslatestnews3.jpg" class="w-100"/></div>
    <div class="info">
    <div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a Driver</div>
    <div class="date">Mar 04, 2015</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
    <a href=""><i class="fas fa-angle-right"></i></a>
    </div>
    </div>
    </div>
<div class="col-12 col-md-12 col-sm-12 col-xs-12 mb-5">
    <nav aria-label="Page navigation example">
        <ul class="press_sec pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span class="press_prev" aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span class="press_next" aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
    </nav>
</div>
</div>
</div>
<div class="col-md-5 col-lg-3 col-xs-12">
<div class="maintitle">{{LanguageText.txt_press_videos}}</div>
<div class="top_right_video mb-3">
    <div class="bg-image-bottom-text">
        <div class="playbutton">
            <a href="#">
                <img src="../../../assets/images/icon-playbutton-white.png" class="w-100 active-hide"/>
                <img src="../../../assets/images/icon-playbutton-red.png" class="w-100 active-show"/>
            </a>
        </div>
    <div class="image"><img src="../../../assets/images/pressrt1.jpg" class="w-100"/></div>
    </div>
    <div class="info">
        <div class="title">The social network that you can wear</div>
        <div class="date">Mar 04, 2015</div>
    </div>
</div>
<div class="top_right_video">
    <div class="bg-image-bottom-text">
        <div class="playbutton">
            <a href="#">
                <img src="../../../assets/images/icon-playbutton-white.png" class="w-100 active-hide"/>
                <img src="../../../assets/images/icon-playbutton-red.png" class="w-100 active-show"/>
            </a>
        </div>
        <div class="image"><img src="../../../assets/images/pressrt2.jpg" class="w-100"/></div>
    </div>
    <div class="info">
        <div class="title">The social network that you can wear</div>
        <div class="date">Mar 04, 2015</div>
    </div>
</div>
<div class="top_right_video">
    <div class="bg-image-bottom-text">
        <div class="playbutton">
            <a href="#">
                <img src="../../../assets/images/icon-playbutton-white.png" class="w-100 active-hide"/>
                <img src="../../../assets/images/icon-playbutton-red.png" class="w-100 active-show"/>
            </a>
        </div>
        <div class="image"><img src="../../../assets/images/pressrt2.jpg" class="w-100"/></div>
    </div>
    <div class="info">
        <div class="title">The social network that you can wear</div>
        <div class="date">Mar 04, 2015</div>
    </div>
</div>
<div class="top_right_video">
    <div class="bg-image-bottom-text">
        <div class="playbutton">
            <a href="#">
                <img src="../../../assets/images/icon-playbutton-white.png" class="w-100 active-hide"/>
                <img src="../../../assets/images/icon-playbutton-red.png" class="w-100 active-show"/>
            </a>
        </div>
        <div class="image"><img src="../../../assets/images/pressrt2.jpg" class="w-100"/></div>
    </div>
    <div class="info">
        <div class="title">The social network that you can wear</div>
        <div class="date">Mar 04, 2015</div>
    </div>
</div>
</div>
</div>
</div>

<!-- GALLERY -->
<div class="latest gallery">
    <div class="maintitle">{{LanguageText.txt_press_gallery}}</div>
    <div class="row">
    <div class="col-md-6 col-lg-3">
    <div class="box">
    <div class="image"><img src="../../../assets/images/presslatestar1.jpg" class="w-100"/></div>
    </div>
    </div>
    <div class="col-md-6 col-lg-3">
    <div class="box">
        <div class="playbutton">
            <a href="#">
                <img src="../../../assets/images/icon-playbutton-white.png" class="w-100 active-hide"/>
                <img src="../../../assets/images/icon-playbutton-red.png" class="w-100 active-show"/>
            </a>
        </div>
    <div class="image"><img src="../../../assets/images/presslatestar2.jpg" class="w-100"/></div>
    </div>
    </div>
    <div class="col-md-6 col-lg-3">
    <div class="box">
    <div class="image"><img src="../../../assets/images/presslatestar3.jpg" class="w-100"/></div>
    </div>
    </div>
    <div class="col-md-6 col-lg-3">
    <div class="box">
    <div class="image"><img src="../../../assets/images/presslatestar4.jpg" class="w-100"/></div>
    </div>
    </div>
    <div class="col-md-6 col-lg-3">
    <div class="box">
    <div class="image"><img src="../../../assets/images/presslatestnews1.jpg" class="w-100"/></div>
    </div>
    </div>
    <div class="col-md-6 col-lg-3">
    <div class="box">
    <div class="image"><img src="../../../assets/images/presslatestnews2.jpg" class="w-100"/></div>
    </div>
    </div>
    <div class="col-md-6 col-lg-3">
    <div class="box">
    <div class="image"><img src="../../../assets/images//presslatestnews3.jpg" class="w-100"/></div>
    </div>
    </div>
    <div class="col-md-6 col-lg-3">
    <div class="box">
    <div class="image"><img src="../../../assets/images//presslatestnews4.jpg" class="w-100"/></div>
    </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="box">
        <div class="image"><img src="../../../assets/images/presslatestnews1.jpg" class="w-100"/></div>
        </div>
        </div>
        <div class="col-md-6 col-lg-3">
        <div class="box">
        <div class="image"><img src="../../../assets/images/presslatestnews2.jpg" class="w-100"/></div>
        </div>
        </div>
        <div class="col-md-6 col-lg-3">
        <div class="box">
        <div class="image"><img src="../../../assets/images//presslatestnews3.jpg" class="w-100"/></div>
        </div>
        </div>
        <div class="col-md-6 col-lg-3">
        <div class="box">
        <div class="image"><img src="../../../assets/images//presslatestnews4.jpg" class="w-100"/></div>
        </div>
        </div>
    <div class="col-12 col-md-12 col-sm-12 col-xs-12 mb-5">
        <nav aria-label="Page navigation example">
            <ul class="press_sec pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span class="press_prev" aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item active"><a class="page-link" href="#" target="_self">1</a></li>
              <li class="page-item"><a class="page-link" href="#" target="_self">2</a></li>
              <li class="page-item"><a class="page-link" href="#" target="_self">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span class="press_next" aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
        </nav>
    </div>
    </div>
    </div>
<!-- END OF GALLERY -->

<!-- LATEST ARTICLES -->
<div class="latest">
    <div class="maintitle">{{LanguageText.txt_press_news}}</div>
<div class="row">
    <div class="col-md-3 col-lg-3 col-12">

        <div class="form-group selectarrow">
            <select class="form-control selectbox">
                <option>Select Location</option>
                <option>Bangkok</option>
                <option>Calamba</option>
            </select>
        </div>
        <ul class="news_list">
            <li>
                <a href=""  class="active" target="_self">Resttaurant Name 1</a>
            </li>
            <li>
                <a href="" target="_self">Resttaurant Name 2</a>
            </li>
            <li>
                <a href="" target="_self">Resttaurant Name 3</a>
            </li>
            <li>
                <a href="" target="_self">Resttaurant Name 4</a>
            </li>
            <li>
                <a href="" target="_self">Resttaurant Name 5</a>
            </li>
            <li>
                <a href="" target="_self">Resttaurant Name 6</a>
            </li>
            <li>
                <a href="" target="_self">Resttaurant Name 7</a>
            </li>
            <li>
                <a href="" target="_self">Resttaurant Name 8</a>
            </li>
            <li>
                <a href="" target="_self">Resttaurant Name 9</a>
            </li>
            <li>
                <a href="" target="_self">Resttaurant Name 10</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9 col-lg-9 cl-9">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-4">
                <div class="box">
                    <div class="image"><img src="../../../assets/images/presslatestar1.jpg" class="w-100"/></div>
                    <div class="info">
                    <div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a Driver</div>
                    <div class="row">
                    <div class="col-md-7"><div class="date">Mar 04, 2015</div></div>
                    <div class="col-md-5 text-right"><a href=""><i class="fas fa-angle-right"></i></a></div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-4">
            <div class="box">
            <div class="image"><img src="../../../assets/images/presslatestar2.jpg" class="w-100"/></div>
            <div class="info">
            <div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a Driver</div>
            <div class="row">
            <div class="col-md-7"><div class="date">Mar 04, 2015</div></div>
            <div class="col-md-5 text-right"><a href=""><i class="fas fa-angle-right"></i></a></div>
            </div>
            </div>
            </div>
            </div>
            <div class="col-md-4 col-lg-4 col-4">
            <div class="box">
            <div class="image"><img src="../../../assets/images/presslatestar3.jpg" class="w-100"/></div>
            <div class="info">
            <div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a Driver</div>
            <div class="row">
            <div class="col-md-7"><div class="date">Mar 04, 2015</div></div>
            <div class="col-md-5 text-right"><a href=""><i class="fas fa-angle-right"></i></a></div>
            </div>
            </div>
            </div>
            </div>
            <div class="col-md-4 col-lg-4 col-4">
            <div class="box">
            <div class="image"><img src="../../../assets/images/presslatestar4.jpg" class="w-100"/></div>
            <div class="info">
            <div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a Driver</div>
            <div class="row">
            <div class="col-md-7"><div class="date">Mar 04, 2015</div></div>
            <div class="col-md-5 text-right"><a href=""><i class="fas fa-angle-right"></i></a></div>
            </div>
            </div>
            </div>
            </div>
            <div class="col-md-4 col-lg-4 col-4">
            <div class="box">
            <div class="image"><img src="../../../assets/images/presslatestnews1.jpg" class="w-100"/></div>
            <div class="info">
            <div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a Driver</div>
            <div class="row">
            <div class="col-md-7"><div class="date">Mar 04, 2015</div></div>
            <div class="col-md-5 text-right"><a href=""><i class="fas fa-angle-right"></i></a></div>
            </div>
            </div>
            </div>
            </div>
            <div class="col-md-4 col-lg-4 col-4">
            <div class="box">
            <div class="image"><img src="../../../assets/images/presslatestnews2.jpg" class="w-100"/></div>
            <div class="info">
            <div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a Driver</div>
            <div class="row">
            <div class="col-md-7"><div class="date">Mar 04, 2015</div></div>
            <div class="col-md-5 text-right"><a href=""><i class="fas fa-angle-right"></i></a></div>
            </div>
            </div>
            </div>
            </div>
            <div class="col-md-4 col-lg-4 col-4">
            <div class="box">
            <div class="image"><img src="../../../assets/images//presslatestnews3.jpg" class="w-100"/></div>
            <div class="info">
            <div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a Driver</div>
            <div class="row">
            <div class="col-md-7"><div class="date">Mar 04, 2015</div></div>
            <div class="col-md-5 text-right"><a href=""><i class="fas fa-angle-right"></i></a></div>
            </div>
            </div>
            </div>
            </div>
            <div class="col-md-4 col-lg-4 col-4">
            <div class="box">
            <div class="image"><img src="../../../assets/images//presslatestnews4.jpg" class="w-100"/></div>
            <div class="info">
            <div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a Driver</div>
            <div class="row">
            <div class="col-md-7"><div class="date">Mar 04, 2015</div></div>
            <div class="col-md-5 text-right"><a href=""><i class="fas fa-angle-right"></i></a></div>
            </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</main>
<app-footer *ngIf="isLanguageLoaded"></app-footer>
