<app-header class="riderheader"></app-header>
<main *ngIf="isLanguageLoaded" class="job career riderbody">
<div class="container">
<div class="top-btn"><a href="#" routerLink="/career"><i class="fas fa-arrow-left"></i> {{LanguageText.txt_job_viewopenings}}</a></div>
<div class="job-info-box">
<div class="row">
<div class="col-12 col-sm-7 col-md-9">
<div class="name">Customer Support Manager / Customer Support Staff</div>
<div class="location"><i class="fas fa-map-marker-alt"></i> Calamba City Branch</div>
</div>
<div class="col-12 col-sm-5 col-md-3 text-right"><a href="#">{{LanguageText.txt_career_fulltime}}</a></div>
</div>
</div>
<div class="box">
<div class="title">{{LanguageText.txt_job_aboutus}}</div>
<p>KalanBanga is a fast and reliable food delivery service in Calamba. We connect people with the best restaurants in the city. We do this by empowering local businesses and in turn, generate new ways for people to earn, work and live. We started by facilitating door-to-door delivery, but we see this as just the beginning of connecting people with possibility — easier evenings, happier days, bigger savings accounts, wider nets and stronger communities.</p>
</div>
<div class="box">
<div class="title">{{LanguageText.txt_job_respons}}</div>
<p>We are looking for an experienced Customer Service Manager to provide excellent customer service and to promote this idea throughout the organisation. The goal is to keep the department running in an efficient and profitable manner, to increase customer satisfaction, loyalty and retention and to meet their expectations.</p>
<ul class="red-dot-list">
<li>Improve customer service experience, create engaged customers and facilitate organic growth</li>
<li>Take ownership of customers issues and follow problems through to resolution</li>
<li>Set a clear mission and deploy strategies focused towards that mission</li>
<li>Develop service procedures, policies and standards</li>
<li>Keep accurate records and document customer service actions and discussions</li>
<li>Analyse statistics and compile accurate reports</li>
<li>Recruit, mentor and develop customer service agents and nurture an environment where they can excel through encouragement and empowerment</li>
<li>Keep ahead of industry’s developments and apply best practices to areas of improvement</li>
<li>Control resources and utilise assets to achieve qualitative and quantitative targets</li>
<li>Adhere to and manage the approved budget</li>
<li>Maintain an orderly workflow according to priorities</li>
<li>Create daily/ weekly in-depth customer support report</li>
</ul>
</div>
<div class="box">
<div class="title">{{LanguageText.txt_job_skillsedu}}</div>
<ul class="red-dot-list">
  <li>Male/Female, Thai Nationality</li>
  <li>Bachelor’s degree or master’s degree in business administration or related field.</li>
  <li>Proven working experience as a Customer Service Manager, Retail Manager or</li>
  <li>3-4 years experience in providing customer service support</li>
  <li>Excellent knowledge of management methods and techniques</li>
  <li>Proficiency in English</li>
  <li>Working knowledge of customer service software, databases and tools</li>
  <li>Awareness of industry’s latest technology trends and applications</li>
  <li>Ability to think strategically and to lead</li>
  <li>Ability to think strategically and to lead</li>
  <li>Advanced troubleshooting and multi-tasking skills</li>
  <li>Customer service orientation</li>
  <li>Proficiency in computer skills, Microsoft Office</li>
  </ul>
  <p class="m-3">*(English resume will be accepted and only shortlisted candidates will be notified)</p>
  <p class="mb-0">Interested applicants are invited to attach your CV indicating expected salary, transcript and recent photograph by clicking <b>APPLY NOW</b></p>
  <p>Interested in this amazing role? Please call: 082-695-6070, E-mail: hr@kalanbanga.co.th</p>
</div>
<div class="box">
  <div class="title">{{LanguageText.txt_job_companyinfo}}</div>
  <p>Food To Dine Co., Ltd.</p>
  <p>117/12 Sukhumvit 55 Soi, Sukhumvit Rd., Klongton Nua, Wattana, Bangkok 10110</p>
  <p>www.kalanbanga.co.th</p>
</div>
<div class="btn-box text-center">
<a href="#" class="red-btn">{{LanguageText.txt_job_applynow}}</a>
</div>

</div>

<section class="openposition section mt-5 pb-0">
    <div class="careerphotos">
        <div class="container-fluid">
        <div class="row">
        <div class="col-sm-4 col-md-4 p-0">
        <!-- <img src="../../../assets/images/careerfoot1.jpg" class="w-100"/>
        </div>
        <div class="col-sm-4 col-md-4 p-0">
        <img src="../../../assets/images/careerfoot2.jpg" class="w-100"/>
        </div>
        <div class="col-sm-4 col-md-4 p-0">
        <img src="../../../assets/images/careerfoot3.jpg" class="w-100"/> -->
        </div>
        </div>
        </div>
        </div>
        <div class="howwehire section">
          <div class="container">
          <h2 class="head center">
          <div class="bgicon"><img src="../../../assets/images/location.png" class="w-100" /></div>
          <div class="name">{{LanguageText.txt_career_howwehire}}</div>
          </h2>
          <ul>
          <li>
          <div class="icon"><img src="../../../assets/images/icon-bill-white.png" class="w-100"/></div>
          <div class="headerhire">{{LanguageText.txt_career_steps}} 1</div>
          <div class="name">{{LanguageText.txt_career_step1}}</div>
          <p>{{LanguageText.txt_career_step1desc}}.</p>
          </li>
          <li>
          <div class="icon"><img src="../../../assets/images/icon-bill-white.png" class="w-100"/></div>
          <div class="headerhire">{{LanguageText.txt_career_steps}} 2</div>
          <div class="name">{{LanguageText.txt_career_step2}}</div>
          <p>{{LanguageText.txt_career_step2desc}}.</p>
          </li>
          <li>
          <div class="icon"><img src="../../../assets/images/icon-bill-white.png" class="w-100"/></div>
          <div class="headerhire">{{LanguageText.txt_career_steps}} 3</div>
          <div class="name">{{LanguageText.txt_career_step3}}</div>
          <p>{{LanguageText.txt_career_step3desc}}.</p>
          </li>
          <li>
          <div class="icon"><img src="../../../assets/images/icon-bill-white.png" class="w-100"/></div>
          <div class="headerhire">{{LanguageText.txt_career_steps}} 4</div>
          <div class="name">{{LanguageText.txt_career_step4}}</div>
          <p>{{LanguageText.txt_career_step4desc}}.</p>
          </li>
          <li>
          <div class="icon"><img src="../../../assets/images/icon-bill-white.png" class="w-100"/></div>
          <div class="headerhire">{{LanguageText.txt_career_steps}} 5</div>
          <div class="name">{{LanguageText.txt_career_step5}}</div>
          <p>{{LanguageText.txt_career_step5desc}}.</p>
          </li>
          </ul>
          </div>
          </div>
</section>
<section class="downloadapp">
    <div class="container">
    <h2 class="head center"><div class="name">{{LanguageText.txt_career_download}}</div></h2>
    <div class="box">
    <div class="row">
    <div class="col-sm-6 col-md-6">
    <div class="label"> {{LanguageText.txt_career_scanqrcode}}</div>
    <div class="qr"><img src="../../../assets/images/qrcode.png" class="w-100"/></div>
    </div>
    <div class="col-sm-6 col-md-6">
    <div class="label"> {{LanguageText.txt_career_downloadapp}}</div>
    <div class="store-btn">
        <a href="https://play.google.com/store/apps/details?id=com.kalanbanga.customer&hl=en_IN" target="_blank"><img src="../../../assets/images/googleplay.png" class="w-100"/></a>
<a href="https://apps.apple.com/us/app/kalan-banga/id1494106731?ls=1" target="_blank"><img src="../../../assets/images/appstore.png" class="w-100"/></a>

    </div>
    </div>

    </div>
    </div>
    </div>
    </section>
</main>
<app-footer *ngIf="isLanguageLoaded"></app-footer>
