
<!-- <app-header></app-header> -->
<main class="payment-sec">
  <div class="container">
      <div class="form-box">
          <div class="row">
              <div class="col-md-12 col-sm-12 mb-4">
                  <a href="#" class="btn red-btn">
                      <div class="icon">
                          <img src="../../../assets/images/icon-undo-white.png" class="w-100" />
                      </div> Back
                  </a>
              </div>
              <div class="col-md-12 col-sm-12">
                  <label class="payment_title">Card Number</label>
                  <div class="form-group icon-left">
                      <div class="icon">
                          <img src="../../../assets/images/icon-card-grey.png" class="w-100"/>
                      </div>
                      <input class="form-control" placeholder="**** **** **** ****"/>
                  </div>
              </div>
              <div class="col-md-12 col-sm-12">
                  <label class="payment_title">Cardholder Name</label>
                  <div class="form-group icon-left">
                      <div class="icon">
                          <img src="../../../assets/images/icon-user-grey.png" class="w-100"/>
                      </div>
                      <input class="form-control" placeholder="Cardholder Name"/>
                  </div>
              </div>
              <div class="col-md-6 col-sm-6">
                  <label class="payment_title">Expiration Date</label>
                  <div class="form-group icon-left">
                      <div class="icon">
                          <i class="fa fa-calendar-o"></i>
                      </div>
                      <input class="form-control" placeholder="mm/yy"/>
                  </div>
              </div>
              <div class="col-md-6 col-sm-6">
                  <label class="payment_title">CVV</label>
                  <div class="form-group icon-left">
                      <div class="icon">
                          <img src="../../../assets/images/icon-key-grey.png" class="w-100"/>
                      </div>
                      <input class="form-control" placeholder="***" maxlength="3"/>
                  </div>
              </div>
              <div class="col-md-12 col-sm-12">
                  <button class="btn red-btn">Submit</button>
              </div>
          </div>
      </div>
  </div>
</main>
<!-- <app-footer></app-footer> -->

